<div class="mb-4">
    <div class="flex items-center justify-between mb-2 px-1">
        <h3 class="font-bold text-gray-400 text-xs tracking-wider uppercase">{{ displayTitle || group.categoryName }}
            ({{
            group.concepts.length }})</h3>
    </div>

    <div cdkDropList [id]="listId" [cdkDropListData]="group.concepts" [cdkDropListConnectedTo]="connectedTo"
        (cdkDropListDropped)="drop($event)"
        class="space-y-2 min-h-[40px] bg-dark-bg/50 rounded-none p-2 border-2 border-dashed border-dark-border/50">
        <app-concept-card *ngFor="let concept of group.concepts" [scoredConcept]="concept" cdkDrag>
        </app-concept-card>

        <div *ngIf="group.concepts.length === 0" class="text-xs text-gray-600 text-center py-4 italic font-medium">
            Arrastra conceptos aquí
        </div>
    </div>
</div>