bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.db
.idea/
.vscode/
*.pdb
*.log
appsettings*.json
node_modules/
.env

.claude/

# Angular
.angular/
dist/
/front/dist/
/front/.angular/
.tsbuildinfo

# IDEs
.idea/
.vscode/
*.swp
*.bak

# OS
Thumbs.db
Desktop.ini
